%section#most-downloaded.group.mt-3
  .group-title.group-title-linked
    %a.mb-3{href: '/designs/latest?sort=downloads_count_desc', title: 'En Çok İndirilenler'}
      %i.fas.fa-cloud-download-alt
      %span.ml-2 En Çok İndirilenler
    %p.group-title-link
      %a.btn.btn-icon.btn-outline-primary.btn-sm{ title: 'En Çok İndirilenler', href: '/designs/latest?sort=downloads_count_desc' }
        %span.btn-inner--icon
          %span Tümü
          %i.ni.ni-bold-right
  .designs-group
    - @most_downloaded.each do |d|
      = render partial: 'designs/box', locals: { design: d }
