%section#popular-designs.explore-section.mt-5
  %h6.font-roboto.font-weight-700.mb-0 Popüler Tasarımlar
  .designs-group
    - @popular_designs.each do |d|
      = render partial: 'designs/box', locals: { design: d }
  .explore-section-more
    %a{ title: 'Popüler Tasarımlar', href: '/designs/popular?direction=desc&sort=home_popular_at' } Daha fazla
