%section#popular-designs.group.mt-3
  .group-title.group-title-linked
    %a.mb-3{href: '/designs/popular?direction=desc&sort=created', title: 'Popüler Tasarımlar'}
      %i.fas.fa-cloud-download-alt
      %span.ml-2 Popüler Tasarımlar
    %p.group-title-link
      %a.btn.btn-icon.btn-outline-primary.btn-sm{ title: 'Popüler Tasarımlar', href: '/designs/popular?direction=desc&sort=created' }
        %span.btn-inner--icon
          %span Tümü
          %i.ni.ni-bold-right
  .designs-group
    - @popular_designs.each do |d|
      = render partial: 'designs/box', locals: { design: d }
