- content_for :head do
  = javascript_pack_tag 'designs/latest'

- url_path = '/designs/latest'
- date = 'created'
- downloads = 'downloads_count'
- likes = 'likes_count'

%main
  %section.section.section-xs
    .container
      .grid.grid--full--large
        .grid-cell
          %h6.mt-3.font-roboto.font-weight-500.mb-0 En Yeni 3D Modeller
        .grid-cell.grid-cell--fit
          = render partial: 'designs/nav_sort', locals: { url_path: url_path, date: date, downloads: downloads, likes: likes }
      .designs-group.mb-3
        - @designs.each do |d|
          = render partial: 'designs/box', locals: { design: d }
      %nav{ 'aria-label' => 'pagination' }
        %ul.pagination.justify-content-center
          = pagy_bootstrap_nav_js(@pagy).html_safe

