*.rbc
capybara-*.html
log/
tmp/
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
/spec/examples.txt
*.orig
rerun.txt
pickle-email-*.html

# Comment out this rule if you are OK with secrets being uploaded to the repo
/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# https://www.engineyard.com/blog/rails-encrypted-credentials-on-rails-5.2
# config/initializers/secret_token.rb
# config/secrets.yml

# dotenv
# Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore icon for now
/app/assets/images/icon.png

