.pic {

  img {
    width: 100%;
    height: auto !important;
  }
}

.pic-main {
  min-width: 15rem;
  margin: 0 auto;
}


.btn-grey {
  background-color: #e2e6ea;
  border-color: #dae0e5;
  color: #212529;
}

.btn-drop {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 0 1rem;

  p {
    margin: .5rem 0;
  }

  &--input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-right: 100%;
    opacity: 0;
    font-size: 200px;
    cursor: pointer;
  }

  &--over, &:focus {
    box-shadow:0 0 1rem $dodger-blue-3;
  }
}
