// All authentication forms

%text-auth-form {
  color: $dusty-gray-2;
}

%link-light-auth-form {
  color: $picton-blue-2;

  &:hover {
    color: $eastern-blue-2;
  }
}

%link-auth-form {
  color: $emperor-2;
  font-size: .9rem;

  &:hover {
    color: $emperor-2;
  }
}

// Sign up form
.text-sign-up-form {
  @extend %text-auth-form;
}

.link-light-sign-up-form {
  @extend %link-light-auth-form;
}

.text-motto-sign-up-form p span {
  color: $delta-2;
}

// Sign in form
.text-sign-in-form {
  @extend %text-auth-form;
}

.link-light-sign-in-form {
  @extend %link-light-auth-form;
}

.link-sign-in-form {
  @extend %link-auth-form;
}

// Reset password form
.text-reset-pass-form {
  @extend %text-auth-form;
}

.link-reset-pass-form {
  @extend %link-auth-form;
}


.link-light-reset-pass-form {
  @extend %link-light-auth-form;
}

// Forgot password form
.text-forgot-pass-form {
  @extend %text-auth-form;
}

.link-forgot-pass-form {
  @extend %link-auth-form;
}

.link-light-forgot-pass-form {
  @extend %link-light-auth-form;
}

@include media-breakpoint-between(xs, sm) {
  // change .btn-password-reset to .btn-sm size on xs
  .btn-forgot-pass {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

@include media-breakpoint-between(sm, md) {
  // change .btn-password-reset to .btn-sm size on sm
  .btn-forgot-pass {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

// Resend confirmation instructions form
.text-resend-conf-form {
  @extend %text-auth-form;
}

.link-resend-conf-form {
  @extend %link-auth-form;
}

.link-light-resend-conf-form {
  @extend %link-light-auth-form;
}

// Resend unlock instructions form
.text-resend-unlck-form {
  @extend %text-auth-form;
}

.link-resend-unlck-form {
  @extend %link-auth-form;
}

.link-light-resend-unlck-form {
  @extend %link-light-auth-form;
}

// Sign up, sign in forms
.btn-twitter-auth {
  background-color: $dodger-blue-2;
  border-color: $dodger-blue-2;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-facebook-auth {
  background-color: $san-marino-2;
  border-color: $san-marino-2;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-google-auth {
  background-color: $mojo-2;
  border-color: $mojo-2;
  color: $white;

  &:hover {
    color: $white;
  }
}
