- providers = auth_providers
- providers.each do |provider|
  - has_icon = provider_has_icon?(provider)
  = link_to omniauth_authorize_path(:user, provider), method: :post, class: "btn btn-neutral btn-icon mr-4", id: "oauth-login-#{provider}" do
    - if has_icon
      %span.btn-inner--icon
        = provider_image_tag(provider)
    %span.btn-inner--text
      = label_for_provider(provider)
