.btn-grey-blue {
  color: $curious-blue-2;
  background-color: $mercury-2;
}

.btn-grey-dark-grey {
  color: $pale-sky;
  background-color: $mercury-2;
}

.btn--clear {
  background-color: transparent;
  color: $white;

  &:hover,
  &:focus {
    background-color: #e2e6ea;
    color: $dodger-blue-3;
  }
}

.btn-main {
  color: $white;
  background-color: $dodger-blue-3;
  border-color: $dodger-blue-3;

  &:hover {
    color: $white;
  }
}

.no-outline {

  &:focus,
  &:active,
  &:focus:active {
    outline: none;
    box-shadow: none;
  }
}

@include media-breakpoint-between(xs,sm){
  .btn {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}
