.btn-grey-blue {
  color: $curious-blue-2;
  background-color: $mercury-2;
}

.btn-grey-dark-grey {
  color: $pale-sky;
  background-color: $mercury-2;
}

.btn-delete {

}

.btn--clear {
  background-color: transparent;
  color: $white;

  &:hover,
  &:focus {
    background-color: #e2e6ea;
    color: $dodger-blue-3;
  }
}
