.btn-grey-blue {
  color: $curious-blue-2;
  background-color: $mercury-2;
}

.btn-grey-dark-grey {
  color: $pale-sky;
  background-color: $mercury-2;
}

.btn--clear {
  background-color: transparent;
  color: $white;

  &:hover,
  &:focus {
    background-color: #e2e6ea;
    color: $primary;
  }
}

.btn-grayish-navy {
  color: $white;
  background-color: #525f7f;
}

.no-outline {

  &:focus,
  &:active,
  &:focus:active {
    outline: none;
    box-shadow: none;
  }
}
