a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.c-pointer {
  cursor: pointer;
}


.c-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.hide {
  display: none;
}

.grid-divider {
  overflow-x: hidden; //quickfix to hide divider on left side
  position: relative;

  > [class*="col-"]:nth-child(n + 2)::after {
    background-color: $heather-approx;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;

    @media (max-width: 767px) {
      height: 1px;
      left: 0;
      top: -4px; // quickfix to center line between columns
      width: 100%;
    }

    @media (min-width: 768px) {
      height: auto;
      left: -1px; // quickfix to hide divider on left side
      width: 1px;
    }
  }
}

.rich {
    line-height: 1.4;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.inline-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap
}

.inline-list > li {
    display: inline-block
}
.inline-list li {
    margin-right: .25rem;
    margin-bottom: .25rem
}
.inline-list li:last-child {
    margin-right: 0
}
.inline-list li a {
    display: block
}
