// scss-lint:disable PlaceholderInExtend
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
// scss-lint:enable PlaceholderInExtend

.form-control:focus {
  border: 1px solid $cornflower-blue-2;
  box-shadow: none;
  outline: none;
}

.captcha {
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .g-recaptcha {
    transform: scale(.85);
    transform-origin: 0 0;
  }
}
