// .space-body {  // TODO: remove unused
//   margin-bottom: 3.625rem;
// }

@media (min-width: 768px) {
  .two-slices {
    .slice {
      padding-right: 5%;

      ~ .slice {
        padding-right: 15px;
        padding-left: 5%;
      }
    }
  }
}
