html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}

.bg-lavender-violet {
  background-color: $lavender-violet;
}

@media (min-width: 768px) {
  .two-slices {
    .slice {
      padding-right: 5%;

      ~ .slice {
        padding-right: 15px;
        padding-left: 5%;
      }
    }
  }
}
