nav.sort {
  margin: .75rem 0;
  display: flex;
  flex-wrap: wrap;

  .sort-text {
    padding: .375rem .75rem .375rem 0;
  }

  .sort-item {
    padding: .375rem .75rem;
    border-radius: .375rem;

    @media (max-width: 22.5rem){
      display: block;
      width: 100%;
    }
  }

  .sort-active {
    background: #e6e6e6;
  }

  .sort-icon {
    font-weight: bold;
    color: #b4b4b4;
  }
}
