.section-title {
  min-height: 70px;
}

.explore-section {
  .explore-section-more {
     float: right;
     margin-right: 5px;
     margin-top: 5px;
     font-weight: 500;
     font-size: $font-size-sm;
  }
}
