// Body
$body-bg: #fff;

// Header - Navbar
$navbar-bg: #fff;
$navbar-link: #777;
$navbar-box-shadow: rgba(0, 0, 0, .2);

$navbar-link-active: #fff;
$navbar-link-active-bg: #32c8fa;

$navbar-toggler-bg: #fff;
$navbar-brand: #32c8fa;
$navbar-brand-link: #32c8fa;

// Validation
$enable-validation-icons: false;

// Header - Navbar @media (max-width: 992px)

$mw992-dropdown-item: rgba(0, 0, 0, .5);
$mw992-navbar-link: rgba(0, 0, 0, .5);
$mw992-navbar-link-active: rgba(0, 0, 0, .5);
$mw992-navbar-link-active-bg: transparent;
