-# main element starts
%main
  .position-relative
    -# Hero starts
    %section.section.section-lg.section-anonymous-cover.section-shaped
      .shape.shape-style-1.section-anonymous-cover-img
      .container.shape-container.d-flex.align-items-center.text-center.py-lg
        .col.px-0
          .row.align-items-center.justify-content-center
            .col-lg-6
              %h1.display-1.font-weight-900.text-white boyutlu şeyler
              %p.lead.text-white Çıktı alabileceğiniz yüzlerce 3D tasarıma erişin, 3D model çalışmalarınızı paylaşın.

              .btn-wrapper.mt-5
                %a.btn.btn-lg.btn-primary.mb-3.mb-sm-0{:href => "#", :target => "_blank", id: 'get-started-scroll'}
                  %span.btn-inner--text
                    Haydi Keşfet
      .container.shape-container.d-flex.align-items-center.text-center.py-lg
        .col.px-0
          .row.align-items-center.justify-content-center
            .col-lg-6
              .header-tags
                %ul
                  - @random_categories.each do |c|
                    %li
                      %a{ href: "/categories/#{c['slug']}" }= c['name'].downcase
  -# main element ends
