-# main element starts
%main
  .position-relative
    -# Hero starts
    %section.section.section-lg.section-profile-cover.section-shaped
      .shape.shape-style-1.shape-primary
      .container.shape-container.d-flex.align-items-center.py-lg
        .col.px-0
          .row.align-items-center.justify-content-center
            .col-lg-6.text-center
              -# = link_to image_tag('white.png', width: '200'), root_path,
              -# class: 'img-fluid'
              -# %img.img-fluid{:alt => "image", :src => "./assets/img/brand/white.png", :style => "width: 200px;"}/
              -# %p.lead.text-white A beautiful Design System for Bootstrap 4. It's Free and Open Source.
              %h1.display-3.text-white
                Hero Main Text
              %p.lead.text-white Lorem ipsum dolor amet hell of intelligentsia schlitz, knausgaard meditation pabst cornhole.

              .btn-wrapper.mt-5
                %a.btn.btn-lg.btn-github.mb-3.mb-sm-0{:href => "#", :target => "_blank"}
                  %span.btn-inner--text
                    Get Started
              -# .mt-5
              -#   %small.text-white.font-weight-bold.mb-0.mr-2 *proudly coded by
              -#   = link_to image_tag('white.png', height: '28px'), root_path
                -# %img{:alt => "image", :src => "./assets/img/brand/creativetim-white-slim.png", :style => "height: 28px;"}/
  -# main element ends
