= render 'profiles/layout' do
  .card-2.mt-4
    .card-header-2.bg-white
      .row.align-items-center
        .col-8
          %h5.text-10625.font-weight-bold.mb-0 Hesap
    .card-body.pt-2

// TODO: cancel account
-# %h4.mt-4= t('.cancel_my_account')
-# .d-flex.py-1
-# = button_to t('.cancel_my_account'), registration_path(resource_name),
-# method: :delete, class: 'btn btn-danger', data: { confirm: t('.are_you_sure') },
-# id: 'btn_cancel_my_account'
