.top-bar {
  border-top: .25rem solid $dodger-blue-3;
}

.header .navbar {
  background: $navbar-bg;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 10px $navbar-box-shadow;
  margin: 0;
  padding: 0 1rem;
}

.navbar-default .navbar-brand {
  color: $navbar-brand;

  a {
    color: $navbar-brand-link;
  }
}

.header .navbar-toggler {
  background: $navbar-toggler-bg;
}

.navbar-default .search {
  max-width: 40%;
}

.header .navbar-nav .custom-link {
  background: transparent;
  color: $navbar-link;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  padding: 23px 18px;
  text-transform: uppercase;
  transition: background .5s ease-in-out;
}

.header .navbar-nav .custom-link:hover,
.header .navbar-nav .custom-link:focus {
  background: $navbar-link-active-bg;
  color: $navbar-link-active;
  transition: background .5s ease-in-out;
}

.header .navbar-nav .dropdown-user-toggle {
  line-height: 25px;
  padding: 23px 18px;
}

@media (max-width: 992px) {
  .dropdown-user-toggle {
    display: none;
  }

  .dropdown-menu {
    border-width: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .dropdown-item {
    color: $mw992-dropdown-item;
    padding: .5rem 0;
  }

  .header .navbar-nav .custom-link {
    color: $mw992-navbar-link;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .5rem 0;
    text-transform: capitalize;
  }

  .header .navbar-nav .custom-link:hover,
  .header .navbar-nav .custom-link:focus {
    background: $mw992-navbar-link-active-bg;
    color: $mw992-navbar-link-active;
  }
}
