.header .navbar {
  margin: 0;
  background: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0rem 1rem;
  margin-bottom: 1.25rem;
}

.header .navbar-nav li a.custom-link {
  padding: 23px 18px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #777;
  background: transparent;
  text-transform: uppercase;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.header .navbar-nav li.active a.custom-link {
  color: #fff;
  background: #32c8fa !important;
}

.header .navbar-nav li a.custom-link:hover,
.header .navbar-nav li a.custom-link:focus {
  color: #fff !important;
  background: #32c8fa !important;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.header .navbar-toggler {
  background: #FFF;
}

.header .navbar-nav li a.dropdown-user-toggle {
  padding: 23px 18px;
  line-height: 25px;
}

.navbar-default .search {
  max-width: 40%;
}

.navbar-brand {
  color: #32c8fa !important;
  a {
    color: #32c8fa !important;
  }
}

@media (max-width: 992px) {
    .dropdown-user-toggle {
      display: none;
    }

    .dropdown-menu {
      display: block;
      position: relative;
      border-width: 0;
      padding: 0;
      margin: 0;
    }

    .dropdown-item {
      padding: .5rem 0rem;
      color: rgba(0,0,0,.5);
    }

    .header .navbar-nav li a.custom-link {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      padding: .5rem 0rem;
      font-size: 1rem;
      line-height: 1.5;
      text-transform: capitalize;
    }

    .header .navbar-nav li.active a.custom-link {
      color: rgba(0, 0, 0, 0.5) !important;
      background: transparent !important;
    }

    .header .navbar-nav li a.custom-link:hover,
    .header .navbar-nav li a.custom-link:focus {
      color: rgba(0, 0, 0, 0.5) !important;
      background: transparent !important;
    }
}


// nav {
//   max-width: 1220px;
//   margin: 0 auto;
// }

// .navbar-default {
//   background: $navbarColor !important;
//   padding: 0.25rem 1rem;
//   margin-bottom: 1.25rem;
//   a {
//     color: #fff !important;
//   }
// }

// .btn-custom-active {
//   color: #fff;
//   background-color: #6558F5;
//   border-color: #6558F5;
// }

// .btn-custom-active:hover,
// .btn-custom-active:focus {
//   color: #6558F5;
//   border-color: currentColor;
//   background-color: white;
// }

// .navbar-default ul li a.custom-link {
//   color: #6558F5 !important;
// }
