- content_for :head do
  = javascript_pack_tag 'design'

.design
  .design-photos
    .js-content-preview{ data: { behavior: 'vue' } }
      %content-preview-toggle-button
      %content-preview{ 'data-type': 'illustration', 'content-type': 'image',
        'toggle-button-text': 'FOTOĞRAFLAR', ':active': true,
        'img-alt-tag': 'Ücretsiz 3D baskı dosyaları' }
      %content-preview{ 'data-type': 'blueprint', 'content-type': 'model',
        'toggle-button-text': '3D GÖRÜNÜM', 'img-alt-tag': 'Ücretsiz 3D baskı dosyaları' }
  .design-infos
    .d-block sdfsfsfsd sdfsf

