- content_for :head do
  = javascript_pack_tag 'home'

- add_header_links([:sign_in], %i[upload])
= render hero('anonymous', 'logged_in')

#most-downloaded En çok indirilenler
- @most_downloaded.each do |d|
  %span= d['name']
