%button#btnPhotos.btn.btn-outline-secondary.btn-sm{:type => "button"} Fotoğraflar
%button#btn3DView.btn.btn-outline-secondary.btn-sm{:type => "button"} 3D Görünüm
.wrapper
  .swiper-container.gallery-top
    .swiper-wrapper
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/500x400&text=1 slider"}/
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/500x400&text=2 slider"}/
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/500x400&text=3 slider"}/
      .swiper-slide{:data => {:filter => 'model'}}
        %stl-part-viewer{ src: 'models/skull.stl' }
      .swiper-slide{:data => {:filter => 'model'}}
        %stl-part-viewer{ src: 'models/skull.stl' }
    .swiper-button-next.swiper-button-white
    .swiper-button-prev.swiper-button-white
  .swiper-container-thumbs.gallery-thumbs
    .swiper-wrapper
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/125x75&text=1"}/
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/125x75&text=2"}/
      .swiper-slide{:data => {:filter => 'image'}}
        %img{:alt => "", :src => "http://placehold.it/125x75&text=3"}/
      .swiper-slide{:data => {:filter => 'model'}}
        %img{:alt => "", :src => "http://placehold.it/125x75/0ebbe4/000000&text=3D Görünüm 1"}/
      .swiper-slide{:data => {:filter => 'model'}}
        %img{:alt => "", :src => "http://placehold.it/125x75/0ebbe4/000000&text=3D Görünüm 2"}/
