%button#btnPhotos.btn.btn-outline-secondary.btn-sm{:type => "button"} Fotoğraflar
%button#btn3DView.btn.btn-outline-secondary.btn-sm{:type => "button"} 3D Görünüm
.slider-wrapper
  .swiper-container.gallery-top
    .swiper-wrapper
    .swiper-button-next.swiper-button-white
    .swiper-button-prev.swiper-button-white
  .swiper-container-thumbs.gallery-thumbs
    .swiper-wrapper
