.row
  .col-md-6
    %h4
      %span.badge.badge-info 3D Tasarımcı
    %p
      3D model çalışmalarınızı
      %strong yayınlayabilir, lisanslayabilirsiniz.
      Yapım aşamasında olsa dahi yükleyebilirsiniz.
    %a{ href: '/' }
      .card.btn-add-3d-model.text-center.p-4
        %h5.mb-0
          %p.text-uppercase 3D Model Ekle
        %h1.mb-2
          %i.fas.fa-cube.fa-2x
  .col-md-6
    %h4
      %span.badge.badge-secondary Maker
    %p
      3D baskılarınızın fotoğraflarını çekin ve toplulukla
      %strong paylaşın.
      Hangi
      %strong 3 boyutlu yazıcıyı
      kullandığınızı
      %strong ayarlarıyla
      birlikte gösterin.
    %a{ href: '/' }
      .card.btn-add-make.text-center.p-4
        %h5.mb-0
          %p.text-uppercase 3D Baskı Ekle
        %h1.mb-2
          %i.fas.fa-print.fa-2x
