/*
* Sign up form
*/
.text-sign-up-form  {
  color: #999999;
}

.link-light-sign-up-form {
  color: #2FBEED;
  &:hover {
    color: #17a2b8;
  }
}

div.text-motto-sign-up-form p span {
  color: #A7A7A6;
}

/*
* Sign in form
*/

.text-sign-in-form {
    @extend .text-sign-up-form;
}

.link-light-sign-in-form {
    @extend .link-light-sign-up-form;
}

.link-sign-in-form {
  color: #555;
  font-size: 0.9rem;
  &:hover {
    color: #555;
  }
}

/*
* Reset password form
*/

.text-reset-pass-form {
    @extend .text-sign-up-form;
}

.link-reset-pass-form {
    @extend .link-sign-in-form;
}


.link-light-reset-pass-form {
    @extend .link-light-sign-up-form;
}

/*
* Forgot password form
*/

.text-forgot-pass-form {
    @extend .text-sign-up-form;
}

.link-forgot-pass-form {
    @extend .link-sign-in-form;
}

.link-light-forgot-pass-form {
    @extend .link-light-sign-up-form;
}

@include media-breakpoint-between(xs,sm){
  /* change .btn-password-reset to .btn-sm size on xs */
  .btn-forgot-pass {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

@include media-breakpoint-between(sm,md){
  /* change .btn-password-reset to .btn-sm size on sm */
  .btn-forgot-pass {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

/*
* Sign up, sign in forms
*/

.btn-twitter-auth {
  color: #fff;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  &:hover {
    color: #fff;
  }
}

.btn-facebook-auth {
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
  &:hover {
    color: #fff;
  }
}

.btn-google-auth {
  color: #fff;
  background-color: #CC4932;
  border-color: #CC4932;
  &:hover {
    color: #fff;
  }
}

/*
* All authentication forms
*/
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

