// Sign up form
.text-sign-up-form {
  color: $dusty_gray;
}

.link-light-sign-up-form {
  color: $picton-blue-approx;

  &:hover {
    color: $eastern-blue-approx;
  }
}

div.text-motto-sign-up-form p span {
  color: $delta-approx;
}

// Sign in form
.text-sign-in-form {
  @extend .text-sign-up-form;
}

.link-light-sign-in-form {
  @extend .link-light-sign-up-form;
}

.link-sign-in-form {
  color: $emperor-approx;
  font-size: .9rem;

  &:hover {
    color: $emperor-approx;
  }
}

// Reset password form
.text-reset-pass-form {
  @extend .text-sign-up-form;
}

.link-reset-pass-form {
  @extend .link-sign-in-form;
}


.link-light-reset-pass-form {
  @extend .link-light-sign-up-form;
}

// Forgot password form
.text-forgot-pass-form {
  @extend .text-sign-up-form;
}

.link-forgot-pass-form {
  @extend .link-sign-in-form;
}

.link-light-forgot-pass-form {
  @extend .link-light-sign-up-form;
}

@include media-breakpoint-between(xs, sm) {
  // change .btn-password-reset to .btn-sm size on xs
  .btn-forgot-pass {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

@include media-breakpoint-between(sm, md) {
  // change .btn-password-reset to .btn-sm size on sm
  .btn-forgot-pass {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

// Resend confirmation instructions form
.text-resend-conf-form {
  @extend .text-sign-up-form;
}

.link-resend-conf-form {
  @extend .link-sign-in-form;
}

.link-light-resend-conf-form {
  @extend .link-light-sign-up-form;
}

// Resend unlock instructions form
.text-resend-unlck-form {
  @extend .text-sign-up-form;
}

.link-resend-unlck-form {
  @extend .link-sign-in-form;
}

.link-light-resend-unlck-form {
  @extend .link-light-sign-up-form;
}

// Sign up, sign in forms
.btn-twitter-auth {
  color: $white;
  background-color: $dodger-blue-approx;
  border-color: $dodger-blue-approx;
  &:hover {
    color: $white;
  }
}

.btn-facebook-auth {
  color: $white;
  background-color: $san-marino-approx;
  border-color: $san-marino-approx;
  &:hover {
    color: $white;
  }
}

.btn-google-auth {
  color: $white;
  background-color: $mojo-approx;
  border-color: $mojo-approx;
  &:hover {
    color: $white;
  }
}

// All authentication forms
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
