.space-body {
  margin-bottom: 3.625rem;
}

.form-control:focus {
  border: 1px solid $cornflower-blue-2;
  box-shadow: none !important;
  outline: none;
}

.captcha {
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .g-recaptcha {
    transform: scale(.85);
    transform-origin: 0 0;
  }
}
