.c-pointer {
  cursor: pointer;
}

.wrapper { max-width:550px; margin-top:5px;}
.portfolio-item-slider img { max-width:100%; height:400px; }
.portfolio-thumb-slider img { max-width:100%; height:auto; }
.portfolio-thumb-slider .slick-slider-item { padding: 5px; }
.portfolio-thumb-slider { margin: 0 -5px 5px -5px; }
// .portfolio-thumb-slider .slick-active img { outline: 2px solid transparent; }
// .portfolio-thumb-slider .slick-current img { outline-color: green; }
.slick-slider { margin-bottom: 0px; }
.controls { text-align: center; padding: 10px; font-family: monospace; font-weight: bold; }

.swiper-container {
  max-width:500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
   background-size: cover;
   background-position: center;
 }

 .gallery-top {
    height: 100%;
    width: 100%;
    margin-top:5px;
  }

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 100%;
  margin-right: 4px;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
