a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.c-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

// Upload page

.btn-add-3d-model {
  background-color: $mercury-2;
  color: $bondi-blue;
}

.btn-add-make {
  background-color: $mercury-2;
  color: $pale-sky;
}
