- if object.errors.any?
  %div{ class: "alert alert-alert alert-dismissible fade show mb-4",
    role: 'alert' }
    - messages = object.errors.full_messages
    %span.alert-inner--text= messages.uniq.join('. ')
