!!! 5
%html{ lang: 'tr' }
  = render 'layouts/head'
  %body
    = render partial: 'layouts/header/default2'
    = render 'layouts/flash'
    -# .container
      -# = render 'layouts/flash'
      -# .space-body
      / %p.notice= notice
      / %p.alert= alert
    = yield
