!!! 5
%html{ lang: 'tr' }
  = render 'layouts/head'
  %body.top-bar
    = render partial: 'layouts/header/default'
    .container
      = render 'layouts/flash'
      .space-body
      / %p.notice= notice
      / %p.alert= alert
      = yield
